@page "/cart"
@using Microsoft.AspNetCore.Components.Authorization
@using Models
@using Services
@inject CartState CartState

<PageTitle>Cart</PageTitle>

@if (cart.Items.Any()) {
    <div>
        <h2>Your Cart</h2>
        @foreach (var cartItem in cart.Items) {
            <div>
                <img src="@cartItem.GroceryItem.ImageUrl">
            </div>
            <div>
                <div>@(cartItem.GroceryItem.Name)</div>
                <div>@(cartItem.Quantity)</div>
            </div>
            <div>@cartItem.GroceryItem.Price</div>
            <div>@cartItem.GetSubtotalFormatted()</div>
        }
        <div>@cart.GetFormattedTotalPrice()</div>
    </div>
} else {
    <div class="empty-cart">Choose an item<br>to get started</div>
}

@code {
    ShoppingCart cart => CartState.Cart;
}
