@using GroceryApp.Services
@using Models
@inject CartState CartService

@if (MyCart.Items.Any())
{
    <button class="closeCartBtn" @onclick="@(() => CartService.closeCart())">Close</button>
    <h2 class="cartHeading">Your Cart</h2>
    <div class="cart-container">
        @foreach (var cartItem in MyCart.Items)
        {
            <div class="card-cart">
                <div class="card-content">
                    <img class="product-image" src="@cartItem.GroceryItem.ImageUrl" alt="" style="height:200px; object-fit:cover;">
                    <div class="card-body">
                        <div>
                            <div class="card-title">Name: @(cartItem.GroceryItem.Name)</div>
                            <div>Quantity: @(cartItem.Quantity)</div>
                        </div>
                        <div>Unit Price: @cartItem.GroceryItem.Price</div>
                        <div>SubTotal Price: @cartItem.GetSubtotalFormatted()</div>
                    </div>
                </div>
                <div class="cartCardBtns">
                    <button class="quantityBtn"
                            @onclick="@(() => CartService.decrementQuantity(cartItem.GroceryItem))">-</button>
                    <button class="quantityBtn"
                            @onclick="@(() => CartService.incrementQuantity(cartItem.GroceryItem))">+</button>
                    <button class="deleteBtn" @onclick="@(() => CartService.deleteFromCart(cartItem))">Delete</button>
                </div>
            </div>
        }
    </div>
    <div class="cart-total">Cart Total @MyCart.GetFormattedTotalPrice()</div>
}
else
{
    <button class="closeCartBtn" @onclick="@(() => CartService.closeCart())">Close</button>
    <div class="empty-cart">Choose an item<br>to get started</div>
}

@if (MyCart.Items.Any())
{
    <div>
        <a href="/checkout" class="btn btn-primary checkoutBtn">Checkout</a>
    </div>
}

@code {
    /// <summary>
    /// The shopping cart to display.
    /// </summary>
    [Parameter]
    public ShoppingCart? MyCart { get; set; } = null;
}